# Ignorer le dossier de cache de Python
__pycache__/

# Ignorer tous les fichiers compilés Python
*.pyc

# Ignorer le dossier de l'environnement virtuel Python
venv/

# Ignorer les fichiers spécifiques à l'éditeur VS Code (si vous l'utilisez)
.vscode/

# Ignorer les fichiers de logs ou temporaires
*.log
*.tmp